a{
    color:white;
}

#header{
    font-size: 25px;
}

#loading{
    display:none;
}

tbody {
    counter-reset: row;
    /* Set the row counter to 0 */
  }
  
  tbody tr::before {
    counter-increment: row;
    /* Increment the row counter*/
    content: counter(row) "";
    /* Display the row */
  }